@charset "UTF-8";

:root {
  --bs-warning-rgb: 243, 199, 142;
}

code {
  font-size: 0.875em;
}

.btn-primary:hover {
  background-color: #1a232f;
  border-color: #19212c;
}
.btn-secondary:hover {
  background-color: #f2c689;
  border-color: #f2c382;
}

.text-white {
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.dot {
  width: 12px;
  height: 12px;
}

.list-group-item {
  border: 0;
}

.text-gray-800, .text-gray-800:hover {
  color: #1F2937 !important;
}

