@charset "UTF-8";

:root {
  --bs-danger-rgb: 225, 29, 72;
  --bs-gray-400-rgb: 156, 163, 175;
  --bs-font-sans-serif: "Inter", sans-serif;
}

body {
  -webkit-tap-highlight-color: rgba(17, 24, 39, 0);
}

a {
  color: #1F2937;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

code {
  font-size: 1em;
  direction: ltr ;
}

code {
  color: #EF4683;
}

[role=button] {
  cursor: pointer;
}

button,
[type=button] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled) {
  cursor: pointer;
}

.btn:hover {
  color: #374151;
}
 .btn:focus {
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25);
}
 .btn:active {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125);
}
 .btn:active:focus {
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25), inset 0 3px 5px rgba(17, 24, 39, 0.125);
}
.btn:disabled {
  box-shadow: none;
}

.btn-gray-800 {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075);
}
.btn-gray-800:hover {
  color: #ffffff;
  background-color: #1a232f;
  border-color: #19212c;
}
 .btn-gray-800:focus {
  color: #ffffff;
  background-color: #1a232f;
  border-color: #19212c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075), 0 0 0 0.18rem rgba(65, 73, 85, 0.5);
}
 .btn-gray-800:active {
  color: #ffffff;
  background-color: #19212c;
  border-color: #171f29;
}
 .btn-gray-800:active:focus {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125), 0 0 0 0.18rem rgba(65, 73, 85, 0.5);
}
.btn-gray-800:disabled {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
}

.dropdown-menu {
  min-width: 12rem;
  font-size: 0.875rem;
  color: #374151;
  background-color: #ffffff;
  border: 0.0625rem solid #E5E7EB;
  border-radius: 0.35rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.dropdown-divider {
  border-top: 1px solid #E5E7EB;
}

.dropdown-item {
  color: #111827;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #090d15;
  background-color: #F2F4F6;
}
 .dropdown-item:active {
  color: #111827;
  background-color: #E5E7EB;
}
 .dropdown-item:disabled {
  color: #4B5563;
}

.text-gray-400 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-400-rgb), var(--bs-text-opacity)) !important;
}

.dropdown-menu {
  top: 100%;
}

main {
  display: block;
  margin: 0;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
}

button:focus {
  outline: 0;
}

.btn-secondary:hover {
  background-color: #eeb15d;
  border-color: #eeb15d;
}

.btn-gray-800:hover {
  background-color: #161d27;
  border-color: #161d27;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.dropdown-menu .dropdown-item .dropdown-icon {
  height: 1.25rem;
  width: 1.25rem;
}
.dropdown-menu .dropdown-item {
  transition: all 0.2s ease;
  font-weight: 400;
}

.dropdown-toggle:after {
  display: none;
}

.icon {
  height: 2rem;
}
.icon.icon-xs {
  height: 1.25rem;
}

a {
  color: #1F2937;
  transition: all 0.2s ease;
}
a:hover {
  color: black;
  cursor: pointer;
}

.text-danger, .text-danger:hover {
  color: #E11D48 !important;
}
.text-danger a:not(.btn) {
  color: #E11D48;
}

.text-gray-400, .text-gray-400:hover {
  color: #9CA3AF !important;
}
.text-gray-400 a:not(.btn) {
  color: #9CA3AF;
}

.text-gray-800, .text-gray-800:hover {
  color: #1F2937 !important;
}
.text-gray-800 a:not(.btn) {
  color: #1F2937;
}

