.mt-n7 {
  margin-top: -8rem !important;
}

.text-gray-500 {
  color: rgba(var(--bs-gray-500-rgb), var(--bs-text-opacity)) !important;
}

.avatar-xl {
  width: 8rem;
  height: 8rem;
}
@media (max-width: 991.98px) {
  .avatar-xl {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.card .profile-cover {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 200px;
}

.file-field input[type=file] {
  max-width: 230px;
  position: absolute;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  padding-bottom: 30px;
}

.file-field svg {
  cursor: pointer;
}