@charset "UTF-8";

:root {
  --bs-gray-500-rgb: 107, 114, 128;
}

 h5, .h5, h4, .h4, h3, .h3, h2, .h2 {
  line-height: 1.3;
  color: #1F2937;
}

code {
  font-size: 1em;
}

.mt-n7 {
  margin-top: -8rem !important;
}

.text-gray-500 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-500-rgb), var(--bs-text-opacity)) !important;
}

.rounded-top {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.avatar {
  width: 2rem;
  height: 2rem;
}
.avatar img {
  width: 2rem;
  height: 2rem;
}

.avatar-xl {
  width: 8rem;
  height: 8rem;
}
@media (max-width: 991.98px) {
  .avatar-xl {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.btn-secondary:hover {
  background-color: #eeb15d;
  border-color: #eeb15d;
}

.btn-gray-800:hover {
  background-color: #161d27;
  border-color: #161d27;
}

.card .profile-cover {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 200px;
}

 h2, h3, h4, h5, .h2, .h3, .h4, .h5 {
  font-family: "Inter", sans-serif;
}

.text-gray-500, .text-gray-500:hover {
  color: #6B7280 !important;
}
.text-gray-500 a:not(.btn), .text-gray-500 h2, .text-gray-500 h3, .text-gray-500 h4, .text-gray-500 h5, .text-gray-500 .h2, .text-gray-500 .h3, .text-gray-500 .h4, .text-gray-500 .h5 {
  color: #6B7280;
}

.file-field input[type=file] {
  max-width: 230px;
  position: absolute;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  padding-bottom: 30px;
}

.file-field svg {
  cursor: pointer;
}
