.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* padding: 90px 0 0; */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 11.5rem;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link.active {
  color: #0d6efd;
}

.navList__heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 3px;
  text-transform: uppercase;
  font-size: 15px;
}

.navList__subheading-title {
  margin: 0 15px;
}

.navList__subheading {
  font-size: 16px;
  text-transform: capitalize;
}

.navList__subheading-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 12px;
}

.navList__subheading {
  position: relative;
  padding: 10px 30px;
  font-size: 16px;
  text-transform: capitalize;
}

.row--align-v-center {
  align-items: center;
}



